<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/favicon.ico" type="image/x-icon">
    <title>P2P VC</title>
    <style>
        .body {
            font-family: 'Courier New', Courier, monospace;
        }
    </style>
</head>
<body>
    <h1>P2P VC</h1>
    <h2>Welcome to the P2P VC application!</h2>
    <a href="/channels">Go to Channels</a>
    <a href="https://github.com/samuelhsieh0829/p2p_vc">Project link</a>
</body>
</html>
